.home{
    margin-left: 40%;
    margin-top: -15%;
    height: 250;
    width:250;

}
.about{
    margin-left: 45%;
}
.services{
    margin-left: 90%;
}

.contact{
    margin-top: 0%;
    margin-left: 40%;
}
.ServicesPage{
    margin-left: 160%;
    margin-top: -30%;
}
.serviceHeadNum{
    color: #ffffff1a;
  font-size: 70px;
  line-height: 100%;
  font-weight: 800;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.serviceHead{
    color: #fff;
  font-size: 40px;
  line-height: 100%;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}

.services-G{
    position: absolute;
  left: 137px;
  top: 176px;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
