.home{
    margin-left: 40%;
    margin-top: -15%;
    height: 250;
    width:250;

}
.about{
    margin-left: 45%;
}
.services{
    margin-left: 90%;
}

.contact{
    margin-top: 0%;
    margin-left: 40%;
}
.ServicesPage{
    margin-left: 10%;
}
